@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-image: url(../img/perca.png);
	background-attachment:fixed;
}
nav, #topnav, section, #roosterlogo, .background1, .content, #googleMap, form, #language, #text-box, #aboutpage h1, #contactpage h1, #cenovnikpage h1, #social-networks, .text-polja, #polje2, #tabela, #carousel, #carousel .strelica, #stage, #stage .default, #stage .animationReady, #chart, .bars, .bars p {
	position: absolute;
}
#language a, #text-box ul, #social-networks a, table {
	 position: relative;
 }
.content, #topnav, #up, #roosterlogo, #language, #text-box, #social-networks, .text-polja, #polje2, #carousel, #stage, #stage .default  {
	  left: 50%;
  }
#topnav li a, #text-box li, #social-networks a, .bars  {
	  float: left;
  }
#topnav li a, #chart, #text-box p, .text-polja, #polje2, table  {
	  font-family: 'Monda', sans-serif;
  }
 @media only screen and (max-device-width: 960px) {
	  #topnav li a, #chart, #text-box p, .text-polja, #polje2, table  {
	  font-family: Arial, Helvetica, sans-serif;
  }
 #topnav li a, #aboutpage h1, #contactpage h1, #cenovnikpage h1, strong  {
	 font-weight: bold; 
  }
 }
 
#topnav li a, #aboutpage h1, #contactpage h1, #cenovnikpage h1, strong  {
	 font-weight: bold; 
  }
#topnav li a, #chart  {
	  font-size:18px;
  }
#text-box p, .text-polja, #polje2, .bordered tr:first-child, .bars p   {
	  font-size: 20px;
 }
#topnav li a, #aboutpage h1, #contactpage h1, #cenovnikpage h1, .text-polja, #polje2, table, .bars p  {
	  text-align:center;
  }
#topnav li a, #text-box ul  {
	  display: inline;
  }
nav, #stage .default, #stage .animationReady, #chart  {
	display:block;  
  }
#up, #stage img, .bars, .bars p  {
	  display: none;
  }
.content, #text-box, #text-box li, .text-polja, #polje2, #tabela, #carousel, #chart  {
	  width: 940px;
  }
nav, section, .background1  {
	  width: 100%;
  }
#roosterlogo, #text-box, .text-polja, #polje2, #carousel  {
	  margin-left: -470px;
  }
textarea, #text-box, #text-box li, #text-box ul  {
	  height: 200px;
  }
#topnav li a, section, .bars p  {
	color: white; 
  }
.content {
	margin-left:-480px;
	height: 980px;
	padding: 10px;
}
nav, .background1, #aboutpage h1, #contactpage h1, #cenovnikpage h1  {
    -webkit-box-shadow: 0 2px 36px 15px black;
    -moz-box-shadow: 0 2px 36px 15px black;
    box-shadow: 0 2px 36px 15px black;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}
nav {
	height: 120px;
	top: 0px;
}
#topnav {
	top: 10px;
	margin-left: -80px;
	width: 480px;
}
#topnav li a {
	width: 100px;
	line-height: 110px;
	text-decoration: none;
	margin-right: 20px;
}
#homepage {
	top:120px;
}
#aboutpage {
	top: 1120px;
}
#cenovnikpage {
	top:2120px;
}
#contactpage {
	top: 3120px;
}
section {
	height: 1000px;
}
#up {
	z-index: 9999;
	position: fixed;
	margin-left: 500px;
	bottom: 10px;
	width:120px;
	height:70px;
}
#roosterlogo {
	top: 10px;
	z-index: 999;
}
.background1 {
	top: 500px;
	height: 500px;
	z-index: -999;
}
#googleMap {
	right: 30px;
	top: 230px;
	border: #ccc solid 1px;
	background-color: #fff;
	box-shadow: 
			4px 4px 0 #fff,
			5px 5px 0 #ccc,
			9px 9px 0 #fff,
			10px 10px 0 #ccc,
			14px 14px 0 #fff,
			14px 18px 26px 9px rgba(0,0,0,0.75);
}
form {
	top: 250px;
	padding: 20px 0px 20px 50px;
	width: 360px;
	alignment-adjust:central;
	border-radius: 10px;
}
form, #chart, #topnav li a:hover, #language, #text-box, #tabela {
	background-image: -webkit-gradient(linear, center top, center bottom, 		from(rgba(22,127,232,0.5)), to(rgba(0,60,123,0.5)));
	background-image: -webkit-linear-gradient(top, rgba(22,127,232,0.5), rgba(0,60,123,0.5));
	background-image: -moz-linear-gradient(top, rgba(22,127,232,0.5), rgba(0,60,123,0.5));
	background-image: -o-linear-gradient(top, rgba(22,127,232,0.5), rgba(0,60,123,0.5));
	background-image: -ms-linear-gradient(top, rgba(22,127,232,0.5), rgba(0,60,123,0.5));
	background-image: linear-gradient(to bottom, rgba(22,127,232,0.5), rgba(0,60,123,0.5));
	-webkit-box-shadow: 0 0 14px 2px black;
	-moz-box-shadow: 0 0 14px 2px black;
	box-shadow: 0 0 14px 2px black;
}
input {
	width: 280px;
	height: 25px;
	transition: width 1s ease;
}
input:focus, textarea:focus {
	width: 340px;
	border: 3px solid red;
}
textarea {
	width: 280px;
	resize: none;
	transition: width 1s ease;
}
#language {
	width: 54px;
	height: 25px;
	margin-left: 410px;
	top: 45px;
	z-index: 9999;
	padding: 4px;
	padding-right: 8px;
}
#language a{
	float: right;
}
#text-box {
	top:740px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}
#text-box ul {
    left:0;
    top:0;
    list-style:none;
    margin:0;
    padding:0;    
    width: 3760px;
}
#text-box p {
	padding:40px;
	text-align: justify;
}
#aboutpage h1, #contactpage h1, #cenovnikpage h1 {
	font-size:32px;	
	font-family: Arial, Helvetica, sans-serif;
	line-height: 60px;
	width: 200px;
	top: -4px;
	left:8px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	-webkit-box-shadow: 0 12px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 12px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 0 12px 10px 3px rgba(0,0,0,0.75);
}
#social-networks {
	width:600px;
	height: 140px;
	margin-left: -275px;
	top: 850px;
}
#social-networks a {
	padding:5px;
	width:100px;
	height:100px;
	background-size: cover;
	transition: 0.25s;
	-webkit-animation: 0.25s;
	/*Safari and Chrome*/
	-o-animation: 0.25s;
	/*Opera*/
}
#social-networks a:hover {
	width:140px;
	height:140px;
}
#fb {
	background-image: url(../img/social-icons/facebook.png);
}
#tw {
	background-image: url(../img/social-icons/twitter.png);
}
#gp {
	background-image: url(../img/social-icons/google-plus.png)
}
#in {
	background-image: url(../img/social-icons/linked-in.png)
}
#db {
	background-image: url(../img/social-icons/dribbble.png)
}
.text-polja, #polje2 {
	height:20px;
	top:80px;
	padding-top: 10px;
	text-shadow: 3px 3px #333;
}
.text-polja a {
	color: #3CF;
}
#homepage .text-polja {
	font-size:22px;
}
#aboutpage .text-polja {
	top:150px;
}
#cenovnikpage .text-polja {
	top: 150px;
}
#polje2 {
	top:780px;
	height:50px;
}
#tabela {
	left:10px;
	top: 450px;
	height: 500px;
}
table {
	width:880px;
	height:440px;
	margin: 30px;
	font-size:16px;
}
td {
	width:50px;
	padding: 15px;
	border-left: 1px dotted white;
}
tr{
	border-bottom: 1px solid white;
	height: 80px;
}
.bordered td:first-child {
	border-left: none;
	width:150px;
}
.bordered td:nth-child(2) {
	width:680px;
}
.bordered tr:nth-child(2) {
	height:50px;
	background-color: #F00;
}
.bordered tr:first-child {
	height: 80px;
}
th {
	padding-top: 20px;
}
#carousel {
	height: 390px;
	top:250px;
}

#carousel .strelica{
	width:70px;
	height:70px;
	top: 50%;
	margin-top:-35px;
	left:0;
	cursor:pointer;
}

#carousel .desno{
	left:auto;
	right:0;
	background-image:url(../img/strelica-desno.png);
}
#carousel .levo {
	background-image:url(../img/strelica-levo.png);
}
#stage {
	margin-left:-350px;
	width:700px;
	height:100%;
}
#stage .default {
	margin-left:-135px;
}
#stage .animationReady{
	top:0;
	left:0;
}
#chart {
	height: 500px;
	top: 470px;
}
.bars {
	bottom: 20px;
	height: 400px;
	width: 120px;
	margin-left: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f2ab2b), to(#c40000));
	background-image: -webkit-linear-gradient(top, #f2ab2b, #c40000);
	background-image: -moz-linear-gradient(top, #f2ab2b, #c40000);
	background-image: -o-linear-gradient(top, #f2ab2b, #c40000);
	background-image: -ms-linear-gradient(top, #f2ab2b, #c40000);
	background-image: linear-gradient(to bottom, #f2ab2b, #c40000);
	-webkit-box-shadow: 0 -3px 10px 1px rgba(255,255,255,0.75), inset 0 2px 1px 2px #fcffff;
	-moz-box-shadow: 0 -3px 10px 1px rgba(255,255,255,0.75), inset 0 2px 1px 2px #fcffff;
	box-shadow: 0 -3px 10px 1px rgba(255,255,255,0.75), inset 0 2px 1px 2px #fcffff;

}
.bars:nth-child(2){
	left:180px;
	height:350px;
}
.bars:nth-child(3) {
	left: 360px;
	height:300px;
}
.bars:nth-child(4) {
	left: 540px; 
	height: 250px;
}
.bars:nth-child(5) {
	left: 720px;
	height: 100px;
}
.bars p {
	bottom: 20px;
}
.box-a {
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
}
	